### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

.python-version

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

secrets.json

# OSX Specific files
.DS_Store